* {
    font-family: 'Hanken Grotesk', sans-serif;

}

$light-red: hsl(0, 100%, 67%);
$light-red-hsl: hsla(0, 100%, 67%, 0.200);
$orange-yellow: hsl(39, 100%, 56%);
$orange-yellow-hsl: hsl(39, 100%, 56%, 0.200);
$green-teal: hsl(166, 100%, 37%);
$green-teal-hsl: hsl(166, 100%, 37%, 0.200);
$cobalt-blue: hsl(234, 85%, 45%);
$cobalt-blue-hsl: hsl(234, 85%, 45%, 0.200);
$dark-gray-blue: hsl(224, 30%, 27%);

main {
    align-items: center;
    height: 100vh;
    .box {
        margin: 0 auto;
        border-radius: 30px;
        border: transparent;
        box-shadow: 1px 1px 10px hsl(221, 100%, 96%);        
        display: flex;
        flex-direction: column;
        .row {
            display: flex;
            height: 100%;
            
            .title{
                font-size: 20px;
            }
            .col-izquierda {                
                display: flex;
                height: 100%;
                background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
                padding: 20px 40px;
                color: white;
                border-radius: 20px;
                text-align: center;
                width: 50%;
                .circulo {
                    width: 170px;
                    height: 170px;
                    border-radius: 50%;
                    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
                    display: flexbox;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    padding: 15px;

                    h1 {
                        font-size: 4rem;
                        margin: 0;

                    }

                    p {
                        font-size: 30px;
                        margin: 0;
                        color: rgba(203, 152, 9, 0.957)
                    }

                }
            }

            .col-derecha {
                height: 100%;
                padding: 20px 30px;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: space-around;

                .sumarys {

                    p {
                        margin-bottom: 0;
                    }

                    .reaction {
                        display: flex;
                        justify-content: space-between;
                        border-radius: 10px;
                        padding: 7px 9px;
                        margin: 10px 0px;
                        background-color: $light-red-hsl;

                        span {
                            color: $light-red;
                        }
                    }

                    .memory {
                        display: flex;
                        justify-content: space-between;
                        border-radius: 10px;
                        padding: 7px 9px;
                        margin: 10px 0px;
                        background-color: $orange-yellow-hsl;

                        span {
                            color: $orange-yellow
                        }
                    }

                    .verbal {
                        display: flex;
                        justify-content: space-between;
                        border-radius: 10px;
                        padding: 7px 9px;
                        margin: 10px 0px;
                        background-color: $green-teal-hsl;

                        span {
                            color: $green-teal
                        }
                    }

                    .visual {
                        display: flex;
                        justify-content: space-between;
                        border-radius: 10px;
                        padding: 7px 9px;
                        margin: 10px 0px;
                        background-color: $cobalt-blue-hsl;

                        span {
                            color: $cobalt-blue
                        }
                    }
                }

                bottom {
                    background-color: $dark-gray-blue;
                    color: white;
                    padding: 5px 50px;
                    border-radius: 30px;
                    margin-top: 10px;
                    bottom: 10px
                }

            }
        }

    }

}